@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Montserrat:wght@200&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


body{
    font-family: 'Inter', sans-serif;
    background-color: #ececec;
    padding: 60px 0;
    margin: 0;
}

/* navbar */
nav .sign-up-button{
    margin-right: 1.5rem;
}
nav .navbar-toggler-icon{
    margin-right: 1rem;
}
.nav-link{
    position: relative;
}

.position-fixed{
    z-index: 20;
}

.nav-link::after{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #dc3545;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ececec;
}
.nav-link:hover::after{
    opacity: 1; 
}

.nav-link.active {
    background-color: #007BFF;
    border-radius: 5px;
}

@media (max-width: 991px){
    .sidebar{
        background-color: rgba(255,255,255,0.1);
        backdrop-filter: blur(10px);
    }
}
/* end of navbar */

/* sign-in css */
.box-area{
    width: 900px;
}
/* end sign-in css */

/* image hover  */
.box{
    object-fit: cover;
}

.box:hover{
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
    object-fit: cover;
}

.box1:hover{
    transform: rotateY(180deg);
    transition: 1s;
    cursor: pointer;
}

#services .services-images{
    width: 360px;
    height: 350px;
}
/* end image hover */


/* social media */
.social-media{
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 50%;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 30px 0;
    transition: 0.5s;
    
}

.social-media:hover{
    background-color: #007bff;
    color: black;
    box-shadow: 0 0 20px #007bff;
    transform: rotateY(180deg);
}

.services-background{
    background-image: url(assets/testi_bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;   
}
/* end social media */

/* carousel  */
.carousel-home-item{
    height: 600px;
}

.carousel-image{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* back to top button */
html{
    scroll-behavior: smooth;
}


/* responsive mobile */
@media(min-width: 375px){
    
    .carousel-width{
        width: 100%;
    }
}



@media(max-width: 991px){
    .nav-tabs{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .services-res{
        display: block;
        justify-content: center;
        align-items: center;
        /* text-align: center; */
        margin-top: 50px;
    }

    .contact-res{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }

    .why-choose-us{
        margin-top: 100px;
    }

    .about-res{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-res1{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-res2{
        margin-top: 80px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .accordion{
        width: 100%;
    }

    footer{
        text-align: center;
    }
    
    .subscribe-form{
        width: 50%;
        margin: auto;
    }
    .services-images{
        width: 100%;
        height: 100%;
    }
    #services .services-container-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #about .about-caption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}


@media(max-width: 500px){
    .box{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        object-fit: fill;
    }
    .services-images{
        width: 100%;
        height: 100%
    }
    #services .services-images{
        width: 100%;
        height: fit-content;
    }

    #about .about-images{
        display: flex;
        justify-content: center;
    }
    .carousel-responsive{
        width: 100%;
    }
}

@media(max-width: 320px){
    nav .nav-logo-container{
        display: none;
    }

    #home{
        margin-left: auto;
    }
    #home .text p{
        font-size: large;
        margin: 0;
        padding: 0;

    }

    #product{
        margin-left: auto;
        
    }

    #services{
        margin-left: auto;
    }
    #services .btn{
        font-size: xx-small;
    }
    #services .btn a{
        font-size: xx-small;
    }

    #contact{
        margin-left: auto;
        
    }
    #contact .form-control{
        font-size: 0.8rem;
    }
    #contact p,h3{
        text-align: center;
    }
    #contact h3{
        font-weight: 800;
    }
    #contact .btn a{
        font-size: smaller;
        color: #ececec;
        text-decoration: none;
    }
    #contact .contact-form{
        margin-top: 3rem;
    }

    #contact .why-choose-us{
        margin-top: 3rem;
    }
    #about{
        margin-left: auto;
    }

    #about .btn a{
        font-size: small;
    }
    #about .about-first-image{
        width: inherit;
    }

    #accordionExample b{
        font-size: small;
    }
    footer .form-control{
        font-size: xx-small;
    }

    footer li{
        font-size: small;
    }

    footer a{
        text-decoration: none;
    }
    footer a:hover{
        text-decoration: underline;
        transition: 0.2s;
    }

    footer i{
        width: inherit;
    }
}

@media(max-width: 375px){
    #product{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .contact-form{
        margin-top: 1rem;
    }

    #cladding-tab-pane .box{
        width: 100%;
    }
    
}

@media(max-width: 425px){
    #home{
        margin-left: auto;
    }

    #product{
        margin-left: auto;
    }

    #services{
        margin-left: auto;
    }
    #contact{
        margin-top: 2rem;
        margin-left: auto;
    }
    #about{
        margin-left: auto;
    }
    #faq{
        margin-left: auto;
    }
    #footer li{
        list-style: none;
    }
}

@media(max-width: 768px){
    #home{
        margin-left: auto;
        margin-right: auto; 
        width: 100%;
    }
    #product{
        margin-left: auto;
        margin-right: auto;
    }
    #services{
        margin: auto;
    }
    #services .services-res{
        display: flex;
        flex-direction: column;
    }
    #contact{
        margin: auto;
        margin-top: 3rem;
    }
    #contact .btn{
        width: -webkit-fill-available;
    }

    #about{
        margin-left: auto;
        margin-right: auto;
    }
    #faq{
        margin-left: auto;
        margin-right: auto;
        .display-4{
            font-size: 2rem;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .logo-size{
        font-size: small;
    }

    #myTab{
        display: flex;
        justify-content: center;
    }
    #home{
        margin: auto;
    }
    #product{
        margin: auto;
    }
    #services{
        margin: auto;
    }
    #services .services-res h2{
        font-size: larger;
        font-weight: 700;
    }
    #services .services-res{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #contact{
        margin-left: auto;
        margin-right: auto;
    }
    #contact .contact-form{
        margin-top: 2rem;
    }
    #contact .btn{
        width: -webkit-fill-available;
    }

    #about{
        margin-left: auto;
        margin-right: auto;
    }
    #about .about-res1{
        display: none;
    }
    #about .about-res2 p{
        text-align: center;
    }
    #about .about-res2 img{
        height: fit-content;
    }
    #about .about-res2 button a{
        font-size: small;
    }
    #about .about-caption{
        margin-left: 3rem;
    }
    #faq{
        margin-left: auto;
        margin-right: auto;
    }

    footer .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media  (min-width: 1025px){
    #home{
        margin-left: auto;
        margin-right: auto;
    }
    #product{
        margin-left: auto;
        margin-right: auto;
    }
    #services{
        margin-left: auto;
        margin-right: auto;
    }
    #contact{
        margin-left: auto;
        margin-right: auto;
    }
    #contact .btn{
        width: -webkit-fill-available;
    }
    #about{
        margin-left: auto;
        margin-right: auto;
    }
    #faq{
        margin-left: auto;
        margin-right: auto;
    }

    footer .footer-container{
        margin-left: 3rem;
        margin-right: 3rem;
    }
}





